.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.fa-stack.fa-1x,
.fa-stack.fa-1x > .fa-stack-1x {
  width: 1em;
  height: 1em;
}

.mobile-catalog-table-container {
  max-height: calc(100vh - 106px);
  overflow-y: auto;
}

.desktop-catalog-table-container {
  max-height: calc(100vh - 161px);
  overflow-y: auto;
}
