.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.fa-stack.fa-1x,
.fa-stack.fa-1x > .fa-stack-1x {
  width: 1em;
  height: 1em;
}

.mobile-table-container {
  margin-top: calc(50.25px + 48.5px);
}

.desktop-table-container {
  margin-top: calc(57px + 55px + 41px);
}

.page-title {
  margin-top: 50.25px;
  z-index: 1000;
}

@media (min-width: 768px) {
  .page-title {
    margin-top: 57px;
  }
}

.products-table-head {
  margin-top: calc(57px + 55px);
  z-index: 1000;
}

.row.active {
  background-color: #007bff;
  color: white;
}

.row.active .text-muted {
  color: white !important;
}
